<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<listeners>
		<listener class-name="com.listeners.JiraListener" />
	</listeners>
	<parameter name="globalJiraSwitchKey" value="true"></parameter>
	<parameter name="createNewJiraTasks" value="true" />
	<parameter name="jiraHostURL" value="https://jiraperfecto.atlassian.net" />
	<parameter name="jiraUser" value="JIRA_USERNAME" />
	<parameter name="jiraPassword" value="JIRA_API_TOKEN" />
	<parameter name="projectKey" value="PROJECT_KEY"></parameter>
	<parameter name="xrayClientID" value="XRAY_CLIENT_ID"></parameter>
	<parameter name="xrayClientSecret" value="XRAY_CLIENT_SECRET"></parameter>
	<parameter name="xrayHost" value="https://xray.cloud.xpand-it.com"></parameter>
	<parameter name="testExecutionKey" value="XRAY_TEST_EXECUTION_ID"></parameter>
	
    <test name="Test Android">
        <parameter name="platformName" value="Android" />
        <parameter name="model" value= "Galaxy.*" />
        <parameter name="browserName" value="mobileOS" />
        <classes>
            <class name="com.tests.GoogleTests" />
        </classes>
    </test>
</suite>
